
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-bordered text-center">
    <a href="/Student/Add" class="btn btn-info">Add</a>
    <br />
    <br />

    <tr class="bg-info">
        <td>Name</td>
        <td>Dob</td>
        <td>Gender</td>
        <td>Cgpa</td>
        <td>Department Id</td>
        <td colspan="2">Operations</td>
    </tr>

    @foreach (var pt in Model)
    {
        <tr>
            <td>@pt.Name</td>
            <td>@pt.Dob</td>
            <td>@pt.Gender</td>
            <td>@pt.Cgpa</td>
            <td>@pt.DepartmentId</td>
            <td><a href="/Student/Edit/@pt.Id" class="btn btn-info">Edit</a></td>
            <td><a href="/Student/Delete/@pt.Id" class="btn btn-info">Delete</a></td>
        </tr>
    }
</table>