
@{
    ViewBag.Title = "ShowAssignedTasks";
}

<h2>ShowAssignedTasks</h2>

<table width=100%>
    <tr>
        <td align="right">
            <a href="/Accounts/Logout" class="btn btn-danger">Logout</a>
        </td>
    </tr>
</table>

<br />
<a href="/Employee/ShowPendingTasks" class="btn btn-warning">Show Pending Tasks</a>
<br />
<br />

@foreach (var item in Model)
{
    <h3 class="bg-info">Restaurant Name: @item.Restaurant.Name</h3>
    <h4>Location: @item.Restaurant.Location</h4>
    <h4>Requested on: @item.PlacingDate</h4>
    if (item.Status == "Completed")
    {
        <h4>Status: <span class="text-success">@item.Status</span></h4>
    }
    else if (item.Status == "Wasted")
    {
        <h4>Status: <span class="text-danger">@item.Status</span></h4>
    }
    else if (item.Status == "Requested")
    {
        <h4>Status: <span class="text-warning">@item.Status</span></h4>
    }
    else if (item.Status == "Assigned")
    {
        <h4>Status: <span class="text-primary">@item.Status</span></h4>
    }
    foreach (var i in item.FoodDetails)
    {
        <h4>Food Name: @i.Name</h4>
        <h4>Food Amount: @i.Amount</h4>
    }
    if (item.EmployeeId != null)
    {
        <h4>Assigned delivery guy: @item.Employee.Name</h4>
    }
    else
    {
        <h4>Assigned delivery guy: Not Assigned</h4>
    }
}