
@{
    ViewBag.Title = "OneEmployee";
}

<h2>OneEmployee</h2>

ID: @Model.Id <br />
Name: @Model.Name <br />
Total Completed Requests: @Model.TotalCompletedRequests <br />
Location: @Model.Location <br />
NGO ID: @Model.NGOId <br />